In [1]:
print("hello world")

hello world

In [3]:
a=[2,3,4,5]
a

[2, 3, 4, 5]

In [4]:
b=["heart"]
b

['heart']

In [7]:
d=list(range(10))
d

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
e= list(range(100,200,20))
e

[100, 120, 140, 160, 180]

In [17]:
a=[2,3,4,5]
a.append(6)
a

[2, 3, 4, 5, 6]

In [82]:
import pandas as pd

s = pd.Series(['a', 'b', 'c', 'd'])
# Insert 'dfjkd' at index 2
s_new = pd.concat([
    s.iloc[:2],                    # First 2 elements
    pd.Series(['dfjkd']),          # Value to insert
    s.iloc[2:]                     # Remaining elements
], ignore_index=False)

print(s_new)

0        a
1        b
0    dfjkd
2        c
3        d
dtype: object

In [83]:
import pandas as pd

a = pd.Series([1, 2, 3])
b = pd.Series([4, 5, 6])
ab = a + b
print(ab)

0    5
1    7
2    9
dtype: int64

In [3]:
f=[2,3,4,5,2,8]
f.sort()
f

[2, 2, 3, 4, 5, 8]

In [6]:
g=["甲","乙","丙","丁","灾"]
g.sort()
g

['丁', '丙', '乙', '灾', '甲']

In [7]:
# 用大括号()创建字典

dc1={'刘文涛':68,'王宇翔':85,'田思雨':74,'徐丽娜':88,'丁文彬':63}

#5名学生考试分数的字典

dc1

{'刘文涛': 68, '王宇翔': 85, '田思雨': 74, '徐丽娜': 88, '丁文彬': 63}

In [8]:
#用dict 函数创建字典

dc2=dict(刘文涛=68,王宇翔=85,田思雨=74,徐丽娜=88,丁文彬=63)

#5名学生考试分数的字典

dc2

{'刘文涛': 68, '王宇翔': 85, '田思雨': 74, '徐丽娜': 88, '丁文彬': 63}

In [29]:
dc1.keys()

dict_keys(['刘文涛', '王宇翔', '田思雨', '徐丽娜', '丁文彬'])

In [30]:
dc1.values()

dict_values([68, 85, 74, 88, 63])

In [32]:
dc1.items()

dict_items([('刘文涛', 68), ('王宇翔', 85), ('田思雨', 74), ('徐丽娜', 88), ('丁文彬', 63)])

In [38]:
set1=set([2,2,2,1,8,3,3,5,5])
set1

{1, 2, 3, 5, 8}

In [39]:
set2={2,2,2,1,4,3,3,5,6,6}
set2

{1, 2, 3, 4, 5, 6}

In [40]:
set1|set2

{1, 2, 3, 4, 5, 6, 8}

In [45]:
import numpy as np
a1=np.array([5,4,1,2,3,])
a2=np.arange(10)
a3=np.arange(2,6,0.5)
print('a1:',a1)
print('a2:',a2)
print('a3:',a3)

a1: [5 4 1 2 3]
a2: [0 1 2 3 4 5 6 7 8 9]
a3: [2.  2.5 3.  3.5 4.  4.5 5.  5.5]

In [48]:
a4=np.array([[1,2],[3,4],[5,6]])
a4

array([[1, 2],
       [3, 4],
       [5, 6]])

In [49]:
import numpy as np
a5=np.arange(12)
a6=a5.reshape(3,4)
a6

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [63]:
a6.ndim
a6.shape
a6.dtype
a6.astype(float)
a6[2]
a3[5]
a1.sort()

In [62]:
import pandas as pd
s1=pd.Series([2,3,4,5])
s1

0    2
1    3
2    4
3    5
dtype: int64

In [67]:
s2=pd.Series([5,8,7,6],index=['a','b','c','d'])
s2

a    5
b    8
c    7
d    6
dtype: int64

In [68]:
s3=pd.Series([60,80,50],index=["l",25,True])
s3

l       60
25      80
True    50
dtype: int64

In [70]:
s4=pd.Series({'a':1,'b':'boy','c':3})
s4

a      1
b    boy
c      3
dtype: object

s5 = pd.Series(range(5))
print(s5)

In [76]:
import pandas as pd 
s6=pd.Series([5,8,7,6],index=['a','b','c','d'])
print(s6)
print(s6)
print(s6)

a    5
b    8
c    7
d    6
dtype: int64
a    5
b    8
c    7
d    6
dtype: int64
a    5
b    8
c    7
d    6
dtype: int64

In [77]:
s6.name='wo shi yi ga pandas da Series'
s6.index.name='wo shi bije'
s6

wo shi bije
a    5
b    8
c    7
d    6
Name: wo shi yi ga pandas da Series, dtype: int64

In [80]:
import pandas as pd

# Example Series
s6 = pd.Series([5, 8, 7, 6], index=['a', 'b', 'c', 'd'])

# Convert data type to float (correct spelling)
s6 = s6.astype(float)

print(s6)

a    5.0
b    8.0
c    7.0
d    6.0
dtype: float64

In [81]:
s6[[1,3]]=[2,8]
s6

/var/folders/b8/strfhdqn5qndbvg3b8n6f7l80000gn/T/ipykernel_935/454941011.py:1: FutureWarning: Series.__setitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To set a value by position, use `ser.iloc[pos] = value`
  s6[[1,3]]=[2,8]

a    5.0
b    2.0
c    7.0
d    8.0
dtype: float64

In [85]:
s7=pd.Series([1,2,3],index=['a','c','e'],dtype=float)
s6+s7

a    6.0
b    NaN
c    9.0
d    NaN
e    NaN
dtype: float64